.slider-six{
    text-align: center;
    width: 100%;
    height: 100%;
    background: url("../assets/cup-desk-drink-434337.jpg");
    background-size: cover;
    padding: 8% 0;
    overflow: hidden;
    .slider-box{
        width: 85%;
        height: 100%;
        background: rgba(255, 255, 255, 0.35);
        margin: auto;
        border-radius: 0.4rem;
        h2{
            padding-top: 3rem;
            font-family: $font-roboto;
            font-size: 4rem;
            font-weight: 300;
        }
        p{
            font-size: 1.6rem;
            padding: 2% 15%;
            line-height: 32px;
            font-family: $font-roboto;
            color: $color-light-grey;
        }
        .clients-slider{
            .slider-item{
                h5{
                    margin: 0;
                    font-size: 1.75rem;
                }
                small{
                    padding-bottom: 1rem;
                    font-size: 1.25rem;
                    text-transform: capitalize;
                }
            }
    
        }

    }
    .slick-dots{
        display: flex;
        justify-content: center;
        list-style-type: none;
        // position: absolute;
        bottom: 0;
        right: 50%;
        // margin: 0;
        padding: 3rem 0;
        bottom: -4rem; //64px
        // left: 50%;
        li{
            margin: 0 1rem;
            &.slick-active button{
                transform: scale(3);
                background-color: $color-primary;
                box-shadow: 1px 1px 2px 1px $color-border;
                box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
            }
        }
        button{
            background-color: $color-border;
            display: block;
            border: none;
            width: .7rem;
            height: .7rem;
            border-radius: 50%;
            padding: 0;
            text-indent: -999999px;
        }
    }
    
}