// colors
$color-primary:#45ccb8;;
$color-primary-light:#55c57a;
$color-white:#ffffff;
$color-light:#EEEFF1;

$color-text-light:#F8F9EF;
$color-black:#000;
$color-grey:#EEEEEE;
$color-light-grey:#2b3032a1;
$color-border: #2b303218;
$color-text: #ff686b;


// Fonts
$font-size:1.6rem;
$font-roboto: "Roboto", sans-serif;
$font-gugi: "Gugi", cursive;
$font-sofia: "Sofia", cursive;
$font-rochester: "Rochester", cursive;

// grids
$grid-width:100rem;
$vertical-space:8rem;
$responsive-vertical-space:6rem;
$horizontal-space:6rem;